/*
#wrapwrap *{
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}*/
#wrapwrap{
    overflow-x: hidden;
}
body{
  min-height: 100%;
}
.wow {
   visibility: visible !important;
}

@font-face {
    font-family: 'ElMessiriRegular';
    src: url('../fonts/ElMessiri-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ElMessiriMedium';
    src: url('../fonts/ElMessiri-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'ElMessiriBold';
  src: url('../fonts/ElMessiri-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ElMessiriSimiBold';
  src: url('../fonts/ElMessiri-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
body,h1,h2,h3,h4,h5,p,a,span,div,table,tr,td {
  font-family: 'ElMessiriRegular', sans-serif;
}
html
{
  height: 100%;
}
#top.o_header_affixed nav.pages_nav{
    background: #ffffff;
    position: absolute;
    width: 100%;
}
html #wrapwrap .o_header_affixed {
    margin-left: -18px !important;
}
#top nav.pages_nav .nav-item .nav-link{
    color: #000 !important;
    font-weight: 400;
}
.home_contact_ntn{
    border-radius: 10px;
    background-color: #02817a;
    color: #fff !important;
    padding: .5rem 1.5rem;
    display: inline-block;
    margin: 25px 0;
    text-decoration: none !important;
}
#top_menu_collapse{
    /*position: absolute;
    right: 115px;*/
}
.home_consultation_btn:hover{
    border: 1px solid #fff;
    background: transparent !important;
    color: #fff !important;
}
header .navbar-brand, header .navbar-brand.logo{
    margin-right: 5.5rem !important;
}
/*header, .o_header_affixed
{
  background-color: #222222 !important;
}*/
html body #wrapwrap .o_header_affixed.o_header_is_scrolled{
    left: 0 !important;
}
.o_header_affixed .headr_contact_bg{
    display:none;
}
footer{
    background: #fff;
}
.logo_text{
    color: #fff !important;
    font-size: 55px;
    text-decoration: none;
}
p{
  font-size: 14px;
  color: #818387;
  line-height: 1.8;
}
li.footer_list_copyrights {
    list-style: none;
    display: inline-block;
    padding: 2px 10px;
    font-size: 14px;
}
.elnoman_copyrights p ,.elnoman_copyrights a{
    color: #fff !important;
    text-decoration: none !important;
}
.elnoman_copyrights {
    padding: 10px 0 20px;
}
.footer_list_copyrights_terms{
    position:relative;
}
.footer_list_copyrights_terms:after{
    position:absolute;
    content: " ";
    width: 1px;
    height: 21px;
    top: 3px;
    right: 0;
    background-color: #fff;
}
li.contact_information_social_icons {
    list-style: none;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.contact_information_social_icons a {
    color: #ffffff !important;
}
.business_hours p{
    color: #fff;
}
#wrapwrap #top_menu_container li.ml-lg-auto a.font-weight-bold{
    color: #fff !important;
    font-size: 12px;
}
#top_menu_container li.ml-lg-auto{
    list-style: none;
    background: #00aeef;
    border-radius: 5px;
    display: inline-block;
}
/*nav*/
a.logo{
  padding: .719rem 0 !important;
  margin-right: .5rem;
}
a.logo img{
  max-width:130px;
}
.slick-slide{
outline:0;
}
.head-callus{
   margin-right: 1rem;
}
.head-callus .icon_nav{
    padding: 0 0.3rem;
}
.o_header_affixed .total_pages a.nav-link.dropdown-toggle{
    padding-right: 2rem !important;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.total_pages a.nav-link.active, .nav-pills .nav-link.active{
    background-color: unset !important;
}
/*.total_pages a.nav-link:hover span,.total_pages a.nav-link.active span
{
    border-bottom: 2px solid;
}*/
.total_pages a.nav-link
{
    padding: 1rem .9rem !important;
    color: #fff !important;
    font-size: 15px !important;
    font-weight: 300;
    line-height: 0.9;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

}
nav .navbar-nav .nav-item .dropdown-menu{
    border-radius: 0;
    padding: 1.5rem 0 1.5rem !important;
    background-color:#fff;
}
nav .navbar-nav .nav-item .dropdown-menu a.dropdown-item {
    font-size: 13px;
    color: #0174bf;
    line-height: 15px;
    display: inline-block;
    vertical-align: top;
    background: none;
    font-weight: 400;
    padding: 10px 10px;
    margin: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
a.menu_lang_pages[data-url_code="en"]{
    color: #7b7b7b !important;
}
.lang_cut{
    color: #7b7b7b !important;
}
div#o_logout_divider {
    display: none;
}
.menu_lang_pages{
    color: #02a69d;
    text-decoration: none !important;
}
nav .navbar-nav .nav-item .dropdown-menu a.dropdown-item:hover, .langs_dropdown ul li a:hover{
    color: #fff !important;
    background: #0174bf;
}
/* header*/
.headr_contact_bg{
    background-color: #dedfdf;
  }
.pages_nav{
  clear: both;
}
.headr_contact_list{
  list-style: none;
  display: inline-block;
  padding: 7px 25px 7px 0;
}
.top_header_lang{
    width: 14px;
    height: auto;
    margin-right: 5px;
}
.headr_login_list{
  list-style: none;
  display: inline-block;
  padding: 7px 20px;
}
.headr_login_list a, .headr_contact_list a{
  cursor: pointer;
}
.headr_login_list i,.headr_login_list a,.headr_contact_list a{
  color: #000 !important;
  font-size: 12px;
  text-decoration: none;
  line-height: 1;
  padding: 0 !important;
}
.headr_contact_list i{
    color: #00599d;
    font-size: 16px;
}
.headr_login_list_border{
  position: relative;
}
.headr_login_list_dropdown .headr_login_list_dropdown_active  {
    border: none;
    background-color: #2e2f2f !important;
}
.dropdown-menu.show
{
    border-radius: 0;
    margin-top: .8rem;
}
.dropdown-menu.show .headr_login_list_dropdown_items, .headr_login_list_dropdown_items.js_usermenu a.dropdown-item{
    color: #2e2f2f !important;
    padding: .5rem 1rem !important;
    font-weight: 600;
}
/*footer*/
.footer_pages_bg{
    background-image: url("../img/footer_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.footer_services{
    margin-top: 1rem;
    color: #ffffff;
    padding: 1rem 0;
    background-color: #152121;
}
.o_footer{
    background: #fff !important;
    position: relative;
}
.footer_copyrights{
  background-color: #101717;
}
.footer_grid_col{
    margin-top: 5rem;
}
.footer_links{
  position: relative;
  font-weight: bold;
  color: #28bcc3;
  font-size: 17px;
  padding-bottom: 5px;

}
li.footer_list_links{
    padding: 0rem 0 2.3rem;
}
.footer_logo_img img{
    width: 10%;
    margin: .9rem 0;
}
.footer_logo_img p
{
    color: #fff;
    width: 100%;
    font-size: 16px;
    text-align: justify;
    padding-right: 70px;
}
.footer_description{
  margin-top: 2.5rem;
}
.o_rtl .footer_phone_num_ltr,.o_rtl .contact_information_phone_item_label{
    direction: rtl !important;
}
.footer_page_contact
{
    line-height: 1.5;
    color: #fff !important;
    font-size: 14px;
    float: left;
    max-width: 80%;
}
.footer_page{
  line-height: 2.43;
  color:  #fff !important;
  font-size: 14px;
  margin: 0;
  z-index: 99999999;
}
a.footer_page:hover {
    color: #fff;
    text-decoration: none;
  }
.footer_copyright_contain{
  color: #484e4e;
  font-size: 14px;
}
ul.social_icons{
  margin: 0px;
}
.icon_link{
  cursor: pointer;
}
.icon_link i:before{
  margin: 0px;
}
.icon_footer_support{
    float: left;
    color: #fff;
    margin: .19rem 1rem .5rem 0;
    clear: both;
}
.social_img_footer{
    width: 50%;
}
/*footer*/
/************** Home page ***********************/
.home_banner{
    background-image: url("../img/home_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.home_banner_title {
    margin-top: 10rem;
}
.home_banner_title h4{
    color: #fff;
}
.home_banner_title p{
    color: #fff;
    margin-bottom: 2rem;
}
.home_banner_title a{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: .5rem 1rem;
}
.home_our_products{
    padding: 4rem 0;
}
.title_center_colored{
    color: #0174bf;
    border-bottom: 2px solid #0174bf;
    padding-bottom: 13px;
    display: inline-block;
    margin-bottom: 35px;
}
.white_title{
    color: #fff;
    border-bottom: 2px solid #fff;
    padding-bottom: 13px;
    display: inline-block;
    margin-bottom: 35px;
}
.product_grid_details h5{
    margin: 20px 0 25px;
    font-size: 16px;
    text-transform: uppercase;
}
.product_grid_details a{
    color: #fff;
    background: #1a74bf;
    padding: .5rem 1rem;
    border-radius: 35px;
    font-size: 14px;
    text-decoration: none !important;
}
.home_latset_news_sec_grid img{
    float: left;
}
.home_latset_news_date {
    position: absolute;
    top: 35px;
    background: rgba(255, 255, 255, 0.2);
    width: 65px;
    text-align: center;
    border-radius: 50%;
    height: 60px;
    right: 40px;
}
.home_latset_news_date p{
    color: #fff;
}
p.home_latset_news_grid_text {
    height: 50px;
    overflow: hidden;
    color: #fff;
}
.home_latest_news_sec
{
    background:#f4f4f4;
    padding: 4rem 0;
}
.blog_more_btn{
    color: #0174bf !important;
    text-align: right;
    text-decoration: none !important;
    display: block;
    font-size: 15px;

}
.home_latset_news_sec_grid .grid_list_bg{

}
.carousel-control-prev{
    background-color: #ffffff8c;
    opacity: .4;
    padding: 0px;
    height: 50px;
    width: 50px;
    margin: auto;
    margin-left: 39px;
    border-radius: 6px;
}
.carousel-control-next{
    background-color: #ffffff8c;
    opacity: .4;
    padding: 0px;
    height: 50px;
    width: 50px;
    margin: auto;
    margin-right: 39px;
    border-radius: 6px;
}
a.carousel-control-prev .carousel-control-prev-icon,a.carousel-control-next .carousel-control-next-icon{
    padding: 15px;
}
.elnoman_header_indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.col-12.home_service_container {
    margin: 2rem;
}
.home_service_container h3 {
    color: #01152b;
    font-weight: 600;
}
.home_service_container p {
    color: #01152b;
}
.home_service_grid_container {
    position: relative;
}
.home_service_grid_content
{
    position: absolute;
    bottom: 0;
    padding: 25px;
    color: #fff !important;
    text-align: center;
}
.home_service_grid_content h5{
    font-weight: 600;
}
.home_service_grid_content p{
    color: #fff;
    font-size: 11px;
    line-height: 1.5;
    font-weight: 900;
}
/*******************About us***************************/
.home_about_sec{
    background-image: url("../img/home_about.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem;
    background-position: 0% 100%;
}
.home_about_container h2{
    color: #fff;
    font-family: 'ElMessiriBold', sans-serif;
}
.home_about_container p {
    color: #fff;
}
a.home_about_sec_btn {
    border-radius: 20px;
    background-color: #00aeef;
    color: #fff;
    padding: 8px 65px;
    margin-top: 20px;
    display: inline-block;
}
section.home_service_sec {
    margin: 1rem 0 4rem;
}
.home_slider_content {
    position: absolute;
    top: 55%;
    color: #fff;
    right: 32%;
    text-align: center;
    width: 35%;
}
.home_slider_content h2{
    color: #fff;
    font-family: ElMessiriBold;
}
.home_slider_content p{
    color: #fff;
}
.home_client_sec{
    background: #fafafa;
    padding: 2rem 0;
}
.home_clients_bg_sec{
    background-image: url("../img/home_client_bg.png") !important;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 9rem 0 !important;
}
.home_page_map,.contact_page_map{
    position: relative;
}
.home_page_map:after{
    position: absolute;
    content: "";
    width: 9px;
    height: 85px;
    bottom: 90px;
    right: -53px;
    background: #3baff0;
}
.contact_page_map:after{
    position: absolute;
    content: "";
    width: 9px;
    height: 85px;
    bottom: 58px;
    right: 36px;
    background: #3baff0;
}
.home_page_map:before{
    position: absolute;
    content: "";
    width: 85px;
    height: 9px;
    bottom: 81px;
    right: -53px;
    background: #3baff0;
}
.contact_page_map:before{
    position: absolute;
    content: "";
    width: 85px;
    height: 9px;
    bottom: 49px;
    right: 36px;
    background: #3baff0;
}
/*************Service page *******************/
.service_banner_sec{
    background-image: url("../img/page_bg.png");
    background-size: 28%;
    background-repeat: no-repeat;
    background-position: 0px 291px;
    z-index: 2;
}
.service_banner_content{
    position: absolute;
    bottom: 15px;
    color: #fff;
    left: 13%;
    width: 77%;
}
.service_banner_content h2{
    text-align: center;
}
.service_banner_content p{
    color: #fff;
    font-weight: 500;
}
.service_details_content {
    margin-top: 7rem !important;
    text-align: center;
    width: 60%;
    margin: auto;
}
.service_details_content p{
    color: #22242a;
    font-weight: 500;
}
.service_contact_banner_sec{
    margin-top: -100px;
    padding: 16rem 0 4rem;
    background-image: url("../img/contant_banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    z-index: 1;
}
.service_content_banner_content{
    color: #fff;
    width: 50%;
    margin: auto;
    text-align: center;
}
.service_content_banner_content p{
    color: #fff;
}
.service_content_banner_content a
{
    background: #fff;
    color: #0c629f !important;
    padding: 7px 55px;
    border-radius: 18px;
    margin-top: 12px;
    display: inline-block;
}
/*************** About Us ************************/
.about_owner_img{
    width: 70%;
    margin: auto;
}
.build_date_content{
    width: 90%;
}
.build_date_content p, .about_owner_img p{
    color: #22242a;
    font-weight: 500;
}
.build_date_content h5, .about_owner_img h5,.build_date_content h4 {
    color: #00aeef;
}
.about_owner_img h5 {
    font-size:15px;
}
.about_owner_img p{
    margin-bottom: 5px;
    margin-top: 14px;
}
/****************** Products *****************************/
.product_client_img a {
    margin: auto;
    display: inline-block;
}
.product_client_img {
    width: 70%;
    margin: auto;
}
.o_rtl .owl-carousel.owl-theme.owl-loaded.owl-drag{
    direction: rtl !important;
}
.home_products_slider button.owl-dot {
    padding: 5px !important;
    background: #cccccc;
    text-align: center;
    border-radius: 50%;
    margin: 4px;
}
.home_products_slider .owl-dots{
    text-align: center;
}
.home_products_slider button.owl-dot.active {
    background:#00aeef;
}
.home_products_slider .owl-nav{
    display: none !important;
}
.o_website_form_send.contact_form_btn {
    background: #00aeef;
    color: #fff;
    padding: 0 50px;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    display: block;
}
.o_website_form_send.contact_form_btn_page {
    background: #00aeef;
    color: #fff;
    padding: 3px 100px;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    display: block;
}
input.form-control.o_website_form_input.custom_contact_us_form:focus,textarea.o_website_form_input.custom_contact_us_form:focus {
    border-color: #01152b !important;
    color: #01152b !important;
    box-shadow: unset !important;
}
input.form-control.o_website_form_input.custom_contact_us_form,textarea.o_website_form_input.custom_contact_us_form {
    color: #cccccc !important;
    border: 1px solid #cccccc !important;
    font-size: 14px;
}
/******************LOGIN************************/
.sign_in_banner_bg{
    background-image: url("../img/sign_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.login_form_container {
    background: #fff;
    padding: 3rem;
    border-radius: 10px;
}
.service_head_contain h1, .service_head_contain p {
    color: #fff;
}
.service_head_contain {
    margin-top: 20%;
}
.login_field_style label {
    color: #3c3c3c;
    font-size: 14px;
    font-weight: 500;
}
.sign_in_forget_pass_link {
    color: #ff0000 !important;
    text-decoration: none !important;
}
button.btn.form_btn.btn-lg.login_in_btn, .register_btn, .forget_pass_login {
    padding: 0.5rem 4.5rem;
    color: #fff !important;
    background: #0c629f !important;
    border-radius: 20px;
    text-decoration: none!important;
    font-size: 14px;
    margin: 20px 0;
}
.js_usermenu.show .dropdown-item{
    color: #3baff0 !important;
}
.oe_login_buttons .justify-content-between.mt-2 a[href="/web/signup?"],.oe_login_buttons button[value="/web/become"],.sign_up_page_login,.oe_login_buttons .text-center.mt-3 a{
    text-align: center !important;
    margin: auto;
    color: #0c629f !important;
}
.oe_login_buttons .justify-content-between.mt-2 a[href="/web/reset_password?"]{
    display: none;
}
.oe_signup_form label{
    font-weight: 500;
}
.oe_login_buttons .forget_btn_page{
    display: block !important;
    text-align: center;
}
.latest_product_title, .product_details_content_title h4{
    color: #3baff0;
}
.latest_product_title img{
    width: 10%;
}
/************************/
.product_list_grid{
    padding: 3rem 3rem;
    border-radius: 40px;
    box-shadow: 0 0 14px 0 rgb(0 0 0 / 10%);
    background-color: #fff;
    margin: 20px 0;
    height: 330px;
    transition: all .3s;
}
.product_list_grid:hover{
    padding: 2rem 2rem;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 174, 239, 0.2);
}
.product_list_grid h5{
    text-align: center;
    color: #22242a !important;
    margin-top: 20px;
    bottom: 50px;
    position: absolute;
    left: 15%;
    right: 15%;
}
.product_list_grid:hover h5{
    display: none;
}
.pagination_products {
    display: inline-block;
    margin: auto;
    text-align: center;
    width: 100%;
}
.pagination_products ul {
    list-style: none;
    display: inline-block;
    margin: auto;
    text-align: center;
}
/*
.pagination_products li {
    float: left;
}*/
.pagination_products li.active a{
    background: #00aeef;
    color: #fff;
}
.pagination_products a {
    color: #cecece;
    float: right;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    background: #f2f2f2;
    margin: 5px;
    font-size: 13px;
}
.product_details_img{
    width: 80%;
}
.product_details_banner_sec {
    background-image: url(/website_elnoman/static/src/css/../img/page_bg.png);
    background-size: 28%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    z-index: 2;
}
p.product_details_content_desc_bg {
    background: #f2f2f2;
}
p.product_details_content_desc {
    font-size: 15px;
    padding: 1rem;
    color: #22242a;
    width: 80%;
    margin: auto;
}
.product_details_content_title h4{
    margin-bottom: 30px;
}
.client_reviews_content_title
{
    color: #3baff0;
    font-weight: 600;
}
.client_review_Desc{
    color:#22242a;
}
.elnoman_client_reviews_carousel_content.text-center.mt-5 {
    width: 60%;
    margin: auto !important;
    margin-top: 30px !important;
    margin-bottom: 4rem !important;
}
.elnoman_header_indicators_reviews li.active{
    background-color:#00aeef;
}
.elnoman_header_indicators_reviews li{
    background-color:#cccccc;
}
.elnoman_header_indicators_reviews_rows{
    background-color: #3baff0;
}
.reviews_service_contact_banner_sec{
    margin-top: -177px;
    background-position: 100%;
}
/***************************************/
.home_latest_product_img
{
    width: 50%;
}
.home_latest_product_right
{
    float: right;
}
.elnoman_header_indicator_latest_product{
    bottom: -50px !important;
}
.contact_us_page_desc p{
    color: #22242a;
    margin-top: 40px;
}
.contact_information_item {
    list-style: none;
    margin: 2rem .5rem;
}
.contact_information_item_icon {
    font-size: 19px;
    float: left;
    margin-right: 20px;
}
.contact_information_item_contain {
    margin-left: .5rem;
    display: inline-block;
    max-width: 90%;
    float: left;
}
.contact_information_item_contain P {
    color: #000;
    margin-bottom: 0;
}
p.contact_information_item_label {
    color: #cccccc;
    font-size: 16px;
}
.custom_contact_us_form_page{
    background: #f2f2f2;
    border-color: #f2f2f2 !important;
    border: unset !important;
}

/*********** language ***********/
.langs_dropdown p {
    font-size: 14px;
    color: #000 !important;
    margin-top: 15px;
    line-height: .9;
    margin-right: 15px;
    position: relative;
    font-weight: 600;
}
.langs_dropdown {
    position: relative;
    cursor: pointer;
}
.langs_dropdown ul {
    position: absolute;
    top: 45px;
    left: 0px;
    width: 130px;
    z-index: 9;
    display: none;
    text-align: left;
    border: 1px solid #eee;
    background-color: #fff;
}
.o_header_affix .langs_dropdown ul {
    position: absolute;
    background-color: #fff;
    left: -15px;
    width: 130px;
    z-index: 9;
    display: none;
    top: 49px;
}
.langs_dropdown ul li {
    display: block;
    margin: 0;
}
.langs_dropdown ul li a {
    padding: 10px;
    display: block;
    color: #3baff0 !important;
    position: relative;
    text-decoration: none!important;
    font-size: 13px;
}
.langs_dropdown ul li:last-child a {
    border-bottom: none;
}
.choose_lang i{
    color: #000;
    font-size: 16px;
    font-weight: 600;
}
/*********** language ***********/